name: Workflow - Practicing Github Actions
on: push
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Step without action
        run: echo "commit"

      - name: Step with action CHECKOUT REPO
        uses: actions/checkout@v4
